<form>
    <table class="table table-striped">
        <thead><tr><th>ID</th><th>Date</th><th>Amount</th><th>Category</th><th>Action</th><th colspan="2">Details</th></tr></thead>
        <tbody>
            
        <tr *ngFor="let transaction of transactions;let index = index;">
            <td>{{transaction.id}}</td>
            <td>{{transaction.date | date}}</td>
            <td>{{transaction.amount}}</td>
            <td><select class="form-control" #t (change)="updateTransaction(transactions[index], +t.value, VERIFIED_STATE)"
                    [ngModel]="transactions[index].category" name="selectedCategory--{{index}}">
                    <option *ngFor="let cat of categories" [value]="cat.id" [disabled]="cat.id===null">{{cat.name}}
                    </option>
                </select></td>
            <td><button class="btn btn-default" (click)="updateTransaction(transactions[index], null, IGNORED_STATE)">Ignore</button>
            </td>
            <td>{{transaction.detail1}}</td>
            <td>{{transaction.detail2}}</td>
        </tr>
    </tbody>
    </table>
</form>